@media only screen and (max-width:700px  ) {
    #backimg{
        height: 200px;
        width:200px;
        top:15%;
        left:5%;
        position: relative;
        transform: translate(-50%,-50%);
    }

    #upperBody{
        height: 50vh;
        display: inline;
    }

    #upperBody > span {
        height: 45vh;
        width: 98vw;
        text-align: center;
        overflow-y: scroll;
        font-size: 100%;
        overflow: hidden;

    }

    #bioDes{
        height: auto;
    }

    #bioDes > P{
        width: 80vw;
        margin: auto;
    }

    body{
        overflow-y: scroll;
        overflow-x: none;
    }

    #projects {
        background: white;
        display: grid;
        gap: 1vh;
        grid-template-columns: repeat(1,1fr);
        padding-bottom:10px;
    }

    #projects > span{
        width: 96vw;
        margin:auto;
        height: 50vh;
    }
    
    #projects > span>P {
        padding-top:10%;
    }
}

