@media only screen and (max-width:1000px  ) {
    #me > img{
        width:50px;
        height: auto;
        margin: auto;
    }

    #me{
        display: inline;
    }

    #aboutme{
        width:70vw;
        margin: auto;
    }

}

