@media only screen and (max-width: 600px) {
  *{
    padding:0;
    margin: 0;
  }

  body{
    overflow-x: hidden;
    width: 96%;
  }

 #allhead{
    height:100%;
    width:98vw;
    background: rgb(36, 36, 58);
    margin:auto;
    padding-left:2%;
 }

 #allhead > P{
    width:90%;
    transform:translateX(0);
    font-size: 80%;
    padding-right:2%;
 }

 #allhead > h3{
    position:absolute;
    right:5%;
    text-align: right;
    padding-right:5%;
 }

 .emote{
    position: absolute;
    top:80%;
    left:50%;
    transform: translate(-50%,-50%);
 }

 .paper{
    display: none;
 }

 .allbody{
    width:98%;
    margin:auto;
    padding-top:10px;
    text-align: center;
 }

 .firstpart{
    width:100%;
    margin: auto;
 }

 .log{
    display: none;
 }

 .music{
    width:95%;
    text-align: center;
 }

 .phead{
    position: absolute;
    width:100%;
    left:4%;
 }

 .sample{
    top:25%;
    left:3%;
 }

 #secondpage{
    width:98%;
 }

 #stories{
    padding-top:160% ;
    width:90%;
    margin-bottom:2%;
 }

 .flower{
    display: none;
 }

 .tree{
    display: none;
 }

 footer{
    width:45%;
    position: absolute;
    bottom:0;
 } 

 #song{
   background:rgb(36, 36, 58);
   border:rgb(36, 36, 58);
 }
    
}