

*{
    margin: 0;
    padding:0;
    color:white;
}

body{
    background-color: rgb(25,25,25);
    position: absolute;
    height: 100vh;
    width: 100%;

}

body::-webkit-scrollbar{
    display: none;
}

#conhead{
    background: rgb(166, 108, 0);
    box-shadow: 2px 2px rgb(90, 58, 0);
    position:fixed;
    width:100%;
    height:8%;
    padding:10px;
    /* z-index: 1; */
}

/* all body bodys */
.allcontent{
    position:absolute;
    top:10%;
    background:rgb(25, 25, 25);
    width:100%;
    height:49%;
}

#sbody{
    padding:10px;
}

.hobbies{
    background:rgb(0, 0, 0);
    border-radius:2px;
    box-shadow: 0.5px 2px rgb(167, 167, 167);
    padding:10px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.hobbies > span {
    position: relative;
    display: inline-block;
    margin:2px;
    width:20%;
    font-size: 150%;
    padding-left:5%;
    padding-right:5%;
}

.hobbies > span:hover {
    background:radial-gradient(rgb(36, 33, 87),rgb(75, 75, 75));
    border-radius: 10px;
    text-align: center;
    height:100%;
    /* cursor:pointer; */
}

span > a:link{
    text-decoration-line:none;
}

.biosec{
    background:rgb(80, 61, 10);
    position: relative;
    margin:10px;    
    padding:10px;
    border-radius:5px;
    width:20%;
    text-align: center;
}

.bio{
    background:rgb(73, 9, 103);
    border-radius:10px;
    font-family:serif;
}

.bio:hover{
    animation: shake .2s 2 ease;
    cursor: pointer;
}

@keyframes shake {
    to{
        transform: translatey(-5px);
    }
}


.music{
    height: 75px;
    position: absolute;
    top:20%;
    border-radius:10px;
    width:35%;
    padding:10px;
    padding:10px;
    right:2%;
}

#chess{
    background:rgb(39, 39, 39);
    border-radius:10px;
    padding:10px;
    margin:5px;
    font-family:serif;
    width:30%;
    position:absolute;
    right:2%;
    top:45%;
}

#drawing{
    background:rgb(39, 39, 39);
    border-radius:10px;
    padding:10px;
    margin:5px;
    font-family:serif;
    width:30%;
    position:absolute;
    right:2%;
    top:95%;
}

#flower{
    background:rgb(39, 39, 39);
    border-radius:10px;
    padding:10px;
    margin:5px;
    font-family:serif;
    width:30%;
    position:absolute;
    right:2%;
    top:130%;
}


/* now editing */
#others{
    background:rgb(39, 39, 39);
    border-radius:10px;
    padding:10px;
    margin:5px;
    font-family:serif;
    width:30%;
    position:absolute;
    right:2%;
    top:165%;
}

#footer{
    position:fixed;
    bottom:2%;
    padding-left:15px;
}

#contacts > a:link{
    text-decoration-line:none;
}



/* phone screens */

@media only screen and (max-width: 600px){
   
    #footer{
        position:absolute;
        height: 10%;
        /* background:red; */
        width:90%;
        border-radius:5px;
        left: 1%;
        bottom:-140%;
        text-align: center;
    }
    

    #others{
        background:rgb(39, 39, 39);
        border-radius:10px;
        padding:10px;
        margin:5px;
        font-family:serif;
        width:90%;
        position:absolute;
        right:2%;
        top:187%;
        left:10/2%;
    }

    
    #flower{
        background:rgb(39, 39, 39);
        border-radius:10px;
        padding:10px;
        margin:5px;
        font-family:serif;
        width:90%;
        position:absolute;
        right:2%;
        left:10/2%;
        top:155%;
    }
    

    #drawing{
        background:rgb(39, 39, 39);
        border-radius:10px;
        padding:10px;
        margin:5px;
        font-family:serif;
        width:90%;
        position:absolute;
        right:2%;
        top:122%;
        left:10/2%;
    }


    #chess{
        position:absolute;
        left:10/2%;
        background:rgb(39, 39, 39);
        border-radius:10px;
        padding:10px;
        margin:5px;
        font-family:serif;
        width:90%;
        top:77%;
    }

    .music{
        height: 75px;
        position: absolute;
        border-radius:10px;
        width:90%;
        padding:10px;
        right:2%;
        left:10/2%;
        top:60%;
    }
        

body{
    background-color:rgb(24, 24, 24);
    position: absolute;
    height: 100vh;
    width: 100%; 
}

.biosec{
    background:rgb(39,39,39);
    /* border:1px white solid; */
    /* height:15%; */
    width:90%;
    left:-2%;
    
}


}