*{
    padding: 0;
    margin: 0;
    font-family: 'Teko', sans-serif;
}

body::-webkit-scrollbar{
  display: none;
}

#allhead{
    color:white;
    background: rgb(20, 20, 73);
    position:absolute;
    width:100%;
    height:80%;
    cursor: pointer;
}

#allhead > h1{
    font-size:300%;
    padding:10px;
}

#allhead > h3{
    font-size:200%;
    padding:10px;
    color:green;
    transition: 1s ;
}

#allhead > h3:hover{
    color:yellow;
}

#allhead > p, #allhead > span{
    padding:10px;
    font-size: 150%;
}

#allhead > h2{
    padding:20px;
    font-size: 250%;
    transition: 1s;
    position:absolute;
    bottom: 1px;
}

#allhead > h2:hover{
    transform:translateY(30px);
    transform:translateX(30px);
}

.allbody{
    position: absolute;
    top: 85%;
    display:flex;
    height:200%;
}

.fpart{
    padding:10px;
    margin:10px;
    width:45%;
    font-size: 150%;
}

.phead{
    background:rgb(20, 20, 73);
    color:white;
    width:42%;
    left:3px;
    top:-2%;
    position: absolute;
    text-align: center;
    border-radius:5px;
}

.spart{
    width:60%;
    left:100px;
    background:white;
    margin:auto;
}

.example{
    background:rgb(20, 20, 73);
    color:white;
    text-align: center;
    width:75%;
    margin:10px 10px 10px 0;
    border-radius: 5px;
}

#SecondPage{
    position: absolute;
    top:230%;
    background:white;
    width:100%;
    height:120%;
    font-size: 150%;
}

#stories {
    width: 30%;
    padding:10px;
    margin:10px;
    user-select: none;
}

#stories > span {
     padding:10px;
     margin:10px;
}

footer{
    display: flex;
    gap:10%;
    background:rgb(20, 20, 73);
    height: 10%;
    position: absolute;
    width:99%;
    text-align: center;
    padding:10px;
}

footer > a{
    color: white;
}



