@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Just+Another+Hand&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family:monospace;
    /* font-size: 120%; */
}


body {
    /* width: 50vw; */
    margin: auto;
    text-align: center;
}

#backimg {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 100%;
}

#head {
    background: rgb(219, 219, 219);
    padding: 2%;
    max-height: fit-content;
}

#mainhead {
    display: flex;
}

.commonhead {
    margin: auto;
    cursor: pointer;
}  


#head>div>div>h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(6, 159, 255);
}   

#body {
    width: 50vw;
    margin: auto;
}

/* upper part which is more of bio */
#upperBody {
    position: relative;
    top: 2vh;
    display: flex;
}

#upperBody>span {
    margin: auto;
   /* background: green; */
   padding: 10px;
   display: block;
}

#bioDes:hover{
    background: rgb(209, 209, 209);
    color: black;
    transition: 0.5s;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
}

#bioDes> p > a  {
    text-decoration: none;

}   

#bioDes > p > ul > li{
    list-style:none;
    background: lightgray;
    padding: 5px;
    border-radius: 10px;
    max-width: 10vw;
    cursor: pointer;
    font-weight: bold;
    margin: auto;
}

/* lower part which is more of the projects */
#lowerbody {
    position: relative;
    top:5vh;
    /* background: red; */
}

#titleLinks {
    display: flex;
}

#titleLinks>p {
    margin: auto;
    font-weight: bold;
    padding-bottom: 2vh;
    cursor: pointer;
}

#titleLinks>p>a {
    text-decoration: none;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#projects>span {
    margin: auto;
    /* background: lightgray; */
    box-shadow: 5px 5px 2px rgb(245, 245, 245) ;
    width: 20vw;
    display: block;
    padding: 5px;
    /* height: 10vh; */
    cursor: pointer;
    position: relative;
    max-height: fit-content;
}

#projects > span:hover{
    box-shadow: 5px 5px 2px rgb(231, 231, 231) ;
}
